In [1]:
import numpy as np
import pandas as pd
import re

#import geopandas as gpd
#import shapely.geometry
#import pickle
#import plotly.express as px

In [6]:
#load file into memory
with open('./data/1877-BSD') as file:
    txt_file = file.readlines()

#as html
#df_address_list = pd.read_html('your_url')

In [138]:
def bsd_txt_to_df(txt_file):
    df_address_gather = pd.DataFrame(columns=['address_id', 'door_num', 'street_side', 'sub_street', 'street', 'off_street', 'to_street', 'part_of_street', 'intersects', 'occupant_last', 'occupant_first', 'occupation'])
    current_street = current_sub_street = off_street = to_street = door_num = occupant_last = occupant_first = occupation = intersects = ''
    iter_txt_file = iter(txt_file)
    address_regex = r'^\s*(\d+[A-Za-z]?(?:\s*[\&\s]+\s*\d+[A-Za-z]?)?(?:[.\u00BD])?)?\s*' #TODO: fix
        
    for line in iter_txt_file:
        # store the next line for context
        next_line = next(iter_txt_file, '')
        
        # check if the line is a street heading and store if so
        if len(line.split()) < 5 and (' to ' in next_line or next_line.startswith('Off ')): #and not any(i.isdigit() for i in next_line) 
            current_street = line.strip()
            current_sub_street = ''
            #TODO: regex to store street Off and to values

        # check if line is a sub-street and store if so, place to current one if not
        elif line.startswith('                    '):
            current_sub_street = line.strip()

        # check for intersects
        elif 'intersects' in line.lower():
            intersects = line.strip()

        # TODO: check for house with door number (number and letter/&/half/comma followed by a dot) or no door number (some spaces?)
        # elif re.match(address_regex, line):
        #     parts = re.split(address_regex, line, 1)
        #     door_num = parts[1].strip() if parts[1] else ''
        #     rest = parts[2].split(',', 2)
        #     occupant_last = rest[0].strip() if rest else ''
        #     if len(rest) > 1:
        #         rest_parts = rest[1].split(',', 1)
        #         occupant_first = rest_parts[0].strip()
        #         occupation = rest_parts[1].strip() if len(rest_parts) > 1 else ''
        #     else: occupation = occupant_first = ''

        # add line to df
        df_address_gather.loc[len(df_address_gather)] = {
            'address_id': len(df_address_gather) * 2, #add alternating IDs in case of squeezing things in sequence
            'street': current_street,
            'off_street': off_street,
            'to_street': to_street,
            'sub_street': current_sub_street,
            'door_num': door_num,
            'occupant_last': occupant_last,
            'occupant_first': occupant_first,
            'occupation': occupation,
            'intersects': intersects
        }

    return df_address_gather

df_addresses = bsd_txt_to_df(txt_file)
df_addresses

,address_id,door_num,street_side,sub_street,street,off_street,to_street,part_of_street,intersects,occupant_last,occupant_first,occupation
0,0,,NaN,,Abbey Street,,,NaN,,,,
1,2,,NaN,,Abbey Street,,,NaN,,,,
2,4,,NaN,,Abbey Street,,,NaN,,,,
3,6,,NaN,,Abbey Street,,,NaN,,,,
4,8,,NaN,,Abbey Street,,,NaN,,,,
...,...,...,...,...,...,...,...,...,...,...,...,...
21594,43188,,NaN,,Zetland Street,,,NaN,..........York Lane intersects,,,
21595,43190,,NaN,,Zetland Street,,,NaN,..........York Lane intersects,,,
21596,43192,,NaN,,Zetland Street,,,NaN,..........York Lane intersects,,,
21597,43194,,NaN,,Zetland Street,,,NaN,..........York Lane intersects,,,
21598,43196,,NaN,,Zetland Street,,,NaN,..........York Lane intersects,,,

In [139]:
df_addresses.head(50)

,address_id,door_num,street_side,sub_street,street,off_street,to_street,part_of_street,intersects,occupant_last,occupant_first,occupation
0,0,,NaN,,Abbey Street,,,NaN,,,,
1,2,,NaN,,Abbey Street,,,NaN,,,,
2,4,,NaN,,Abbey Street,,,NaN,,,,
3,6,,NaN,,Abbey Street,,,NaN,,,,
4,8,,NaN,,Abbey Street,,,NaN,,,,
5,10,,NaN,,Abbey Street,,,NaN,,,,
6,12,,NaN,,Abbey Street,,,NaN,,,,
7,14,,NaN,,Abbey Street,,,NaN,,,,
8,16,,NaN,,Abbey Street,,,NaN,,,,
9,18,,NaN,,Abbey Street,,,NaN,,,,
10,20,,NaN,,Abbey Street,,,NaN,,,,
11,22,,NaN,,Abbey Street,,,NaN,,,,
12,24,,NaN,,Abbey Street,,,NaN,,,,
13,26,,NaN,__________,Abbey Street,,,NaN,,,,
14,28,,NaN,__________,Abbey Street,,,NaN,,,,
15,30,,NaN,__________,Abbey Street,,,NaN,,,,
16,32,,NaN,__________,Abbey Street,,,NaN,,,,
17,34,,NaN,__________,Abbey Street,,,NaN,,,,
18,36,,NaN,__________,Abbey Street,,,NaN,,,,
19,38,,NaN,__________,Abbey Street,,,NaN,,,,
20,40,,NaN,__________,Abbey Street,,,NaN,,,,
21,42,,NaN,__________,Abbey Street,,,NaN,,,,
22,44,,NaN,__________,Abbey Street,,,NaN,,,,
23,46,,NaN,__________,Abbey Street,,,NaN,,,,
24,48,,NaN,__________,Abbey Street,,,NaN,,,,
25,50,,NaN,__________,Abbey Street,,,NaN,,,,
26,52,,NaN,__________,Abbey Street,,,NaN,,,,
27,54,,NaN,__________,Abbey Street,,,NaN,,,,
28,56,,NaN,__________,Abbey Street,,,NaN,,,,
29,58,,NaN,__________,Abbey Street,,,NaN,,,,
30,60,,NaN,__________,Abbey Street,,,NaN,,,,
31,62,,NaN,__________,Abbey Street,,,NaN,,,,
32,64,,NaN,__________,Abbey Street,,,NaN,,,,
33,66,,NaN,__________,Abbey Street,,,NaN,,,,
34,68,,NaN,__________,Abbey Street,,,NaN,,,,
35,70,,NaN,__________,Abbey Street,,,NaN,,,,
36,72,,NaN,__________,Abbey Street,,,NaN,,,,
37,74,,NaN,__________,Abbey Street,,,NaN,,,,
38,76,,NaN,__________,Abbey Street,,,NaN,,,,
39,78,,NaN,__________,Abbey Street,,,NaN,,,,
40,80,,NaN,__________,Abbey Street,,,NaN,,,,
41,82,,NaN,__________,Abbey Street,,,NaN,,,,
42,84,,NaN,__________,Abbey Street,,,NaN,,,,
43,86,,NaN,__________,Abbey Street,,,NaN,,,,
44,88,,NaN,__________,Abbey Street,,,NaN,,,,
45,90,,NaN,,Abercorn Street,,,NaN,,,,
46,92,,NaN,,Abercorn Street,,,NaN,,,,
47,94,,NaN,,Abercorn Street,,,NaN,,,,
48,96,,NaN,,Abercorn Street,,,NaN,,,,
49,98,,NaN,,Abercorn Street,,,NaN,,,,

In [ ]:
street_types = ['Street', 'Road', 'Entry', 'Court', 'Place', 'Terrace', 'Row', ]

In [ ]:

def bsd_txt_to_df(txt_file):
    df_address_gather = pd.DataFrame(columns=['address_id', 'door_num', 'street_side', 'sub_street', 'street', 'off_street', 'to_street', 'part_of_street', 'intersects', 'occupant_last', 'occupant_first', 'occupation'])
    for line in txt_file:
        current_street = None
        current_sub_street = None
        #if the line is followed by another line beginning 'See',
            #ignore both lines
        #if the line follows a blank line, is less than five words long, is followed by a line containing 'to' or 'Off', 
            #add it to column 'street' and update current_street to store it for use in the next houses
            #add the text on the following line after 'Off' or before 'to' in 'off_street'. Add text after 'to' to 'to_street'
        #if it begins '                    ',
            #add it to column 'sub_street' and update current_sub_street to store it for use in the next houses
        #if it begins with no or multiple spaces then a number,
            #strip spaces and '.' and store the number including up to one letter occuring before the '.' in 'door_num'
        #or if it starts with multiple spaces, store a NaN in 'door_num'
        #then from the same line, store in the same row the text up to the first comma in 'occupant_last', and after the last comma in 'occupation', and after the second comma in 'occupant_first'
        #or if the line starts with multpile '.' and contains 'intersects', store the rest of the text in 'intersects'
        #for each row store current_street in 'street' and current_sub_street in 'sub_street'
        #give each row a sequential 'address_id' of even numbers only
        #return df_address_gather
        
        
        #TODO: deal with [left side], [right side]